@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.opening,
.options {
    margin: 40px 100px;
}

.comments {
    color: green;
}

.comments a {
    color: cyan;
    text-decoration: none;
}

.comments a:hover {
    text-decoration: underline;
}

.comment {
    color: red;
    opacity: 0;
}

#commandInput,
#optionInput {
    background: transparent;
    border: none;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
    width: 500px;
    outline: none;
    caret-color: cyan;
}

#input {
    color: green;
}

.option {
    color: cyan;
    text-decoration: none;
    cursor: pointer;
}

.option:hover {
    text-decoration: underline;
}

#content {
    margin: 40px 100px;
    white-space: pre-wrap;
    color: white;
}

#content a {
    color: cyan;
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .opening,
    .options, #content {
        margin: 50px;
    }
}

@media (max-width: 520px) {

    .opening,
    .options {
        margin: 50px;
    }

    .comments {
        margin: 0;
    }

    #content {
        margin: 50px;
    }
}
