@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.opening,
.options {
    margin: 40px 100px;
}

.comment {
    color: #01b501;
    opacity: 0;
}

.cursor {
    display: inline-block;
    width: 8px;
    height: 16px;
    opacity: 1;
    animation: blink 1s infinite;
    background-color: white;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.option {
    cursor: pointer;
    width: 140px;
    color: cyan;
}

.option:hover {
    text-decoration: underline;
}

#content {
    margin: 40px 100px;
    white-space: pre-wrap;
    color: white;
    text-decoration: none;
}

#content a {
    color: cyan;
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

::selection {
    background-color: white;
    color: blue;
}

/* Responsive Styles */
@media (max-width: 768px) {
    body {
        margin: 70px 0;
    }

    .opening,
    .options {
        margin: 20px 40px;
    }

    .option {
        width: auto;
        font-size: 14px;
    }

    #content {
        margin: 20px 40px;
    }

    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        margin: 70px 0;
        font-size: 12px;
    }

    .opening,
    .options {
        margin: 10px 20px;
    }

    .option {
        font-size: 12px;
    }

    #content {
        margin: 10px 20px;
    }

    .option:last-child{
        margin-bottom: 30px;
    }
    
}
